---
# Scan Role - Preflight Checks
# Verifies SCC is installed and ready

- name: Search for SCC installation
  ansible.windows.win_find:
    paths:
      - "C:\\Program Files\\SCC"
      - "C:\\Program Files\\DISA"
      - "C:\\Program Files\\DISA SCAP Compliance Checker"
      - "{{ scc_config.install_path }}"
    patterns: "cscc.exe"
    recurse: true
  register: scc_search

- name: Fail if SCC not installed
  ansible.builtin.fail:
    msg: |
      DISA SCC is not installed. Searched locations:
        - C:\Program Files\SCC
        - C:\Program Files\DISA
        - C:\Program Files\DISA SCAP Compliance Checker
        - {{ scc_config.install_path }}
      Run the 'Install-SCC' job template first.
  when: scc_search.files | length == 0

- name: Set discovered SCC path
  ansible.builtin.set_fact:
    scc_install_path: "{{ scc_search.files[0].path | win_dirname }}"
  when: scc_search.files | length > 0

- name: Display discovered SCC installation
  ansible.builtin.debug:
    msg: "SCC found at: {{ scc_install_path }}"

- name: Get Windows version
  ansible.windows.win_powershell:
    script: |
      $os = Get-CimInstance Win32_OperatingSystem
      @{
        Caption = $os.Caption
        Version = $os.Version
        BuildNumber = $os.BuildNumber
      } | ConvertTo-Json
  register: os_info_raw

- name: Parse OS information
  ansible.builtin.set_fact:
    os_info: "{{ os_info_raw.output | from_json }}"

- name: Determine Windows version and benchmark
  ansible.builtin.set_fact:
    windows_version: >-
      {%- if '2022' in os_info.Caption -%}2022{%- elif '2019' in os_info.Caption -%}2019{%- else -%}unknown{%- endif -%}
    scc_benchmark: >-
      {%- if '2022' in os_info.Caption -%}{{ scc_config.benchmark.win2022 }}{%- elif '2019' in os_info.Caption -%}{{ scc_config.benchmark.win2019 }}{%- else -%}unknown{%- endif -%}

- name: Create output directory
  ansible.windows.win_file:
    path: "{{ scc_config.output_dir }}"
    state: directory

- name: Display preflight results
  ansible.builtin.debug:
    msg: |
      Preflight Complete
      - SCC: Installed
      - OS: Windows Server {{ windows_version }}
      - Benchmark: {{ scc_benchmark }}
